<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<form (ngSubmit)="getAllClasses()">         
    <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-left"></i></button>
</form>
<body>
   
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>VIEW CLASS DETAILS</h3>
                        <br>
        <div class="rrr">
            <label><b> Class: </b></label> {{class1.classNo}}
        </div>
        <div class="rrr">
            <label><b> Class: </b></label> {{class1.section}}
        </div>
        <div class="rrr">
            <label><b> Class Teacher: </b></label> {{class1.classTeacher}}
        </div>
        <div class="rrr">
            <label><b> Strength: </b></label> {{class1.strength}}
        </div>
        <div class="rrr">
            <label><b> Periods: </b></label> {{class1.periods}}
        </div>
        
     
</div>
</div>
</div>
</div>
</div> 
</body>
</html>